body{
    max-width: 1024px;
    margin: 0 auto;
}

#logos{
    position: relative;
    float: left;
    font-size: 45px;
    margin-left: 200px;
}

#logo{
    width: 15%;
    margin-top: 15px;
    margin-left: 200px;
    
}
nav{
    background-color: rgb(226, 125, 30);
    width: 1024px;
    
}

nav ul{
    
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    padding: 10px 12%;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

#titulo{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

p{
    margin-left: 200px;
}

table{
    margin: 40px auto;
    width: auto;
    text-align: center;
    border-collapse: collapse;
}

table tr td{
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
}

#GS{
    width: 100px;
}

#RG{
    width: 200px;
}

#W{
    width: 80px;
}

#US{
    width: 90px;
}

.LD{
    position: absolute;
    margin-left: -200px;
    margin-top: -50px;
}

.LD p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    height: 70px;
}

.LI{
    position: absolute;
    margin-left: 800px;
    margin-top: -50px;
}

.LI p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    height: 95px;
}